.panel-wrapper {
    -fx-font-family: Tahoma;
    -fx-font-size: 20;
}

.title {
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 1.75em;
    -fx-alignment: center;
}

.subtitle {
    -fx-font-size: 0.75em;
    -fx-pref-width: 35em;
}

.requirement-message {
    -fx-text-fill: #d9edff;
    -fx-font-size: 0.65em;
    -fx-background-color: #0078e8;
    -fx-background-radius: 0.2em;
    -fx-padding: 0.5em;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.grid-label-h {
    -fx-font-size: 0.7em;
    -fx-font-weight: bold;
    -fx-pref-width: 97;
    -fx-text-alignment: left;
}

.grid-label {
    -fx-font-size: 0.7em;
    -fx-pref-width: 97;
    -fx-text-alignment: right;
}

.link-text {
    -fx-font-size: 0.7em;
    -fx-text-fill: #4da3ff;
    -fx-underline: true;
}

.link-text:hover {
    -fx-text-fill: #3996e3;
    -fx-cursor: hand;
}

.message {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: #ff654d;
    -fx-font-size: 0.7em;
    -fx-background-color: #ffd3cc;
    -fx-background-radius: 0.2em;
    -fx-padding: 0.5em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.back-button {
    -fx-background-color: #6e6e6e;
    -fx-text-fill: white;
    -fx-font-size: 0.6em;
    -fx-pref-width: 4em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.back-button:hover {
    -fx-background-color: #636363;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.undo-button {
    -fx-background-color: #fff1cc;
    -fx-text-fill: #bf8c00;
    -fx-font-size: 0.6em;
    -fx-pref-width: 4em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.undo-button:hover {
    -fx-background-color: #ffeebf;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.warning {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 15em;
    -fx-padding: 3em 2em;
    -fx-background-color: #fffae6;
    -fx-text-fill: #d9b100;
    -fx-font-size: 1em;
    -fx-background-radius: 0.2em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.data-table {
    -fx-font-size: 0.65em;
    -fx-font-weight: lighter;
    -fx-wrap-text: true;
}

.table-cell {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.dropdown-select {
    -fx-alignment: center;
    -fx-font-size: 0.75em;
}

.done-button {
    -fx-background-color: #4da3ff;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.done-button:hover {
    -fx-background-color: #3996e3;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.button-disabled {
    -fx-background-color: #9c9c9c;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-border-radius: 0.2em;
    -fx-background-radius: 0.2em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.popup-title {
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 1em;
    -fx-alignment: center;
}

.popup-heading {
    -fx-font-size: 0.8em;
    -fx-font-weight: bold;
}

.popup-text {
    -fx-font-size: 0.6em;
}

.popup-button {
    -fx-background-color: #4da3ff;
    -fx-text-fill: white;
    -fx-font-size: 0.6em;
    -fx-pref-width: 4em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.popup-button:hover {
    -fx-background-color: #3996e3;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.message-success {
    -fx-font-size: 0.7em;
    -fx-font-weight: lighter;
    -fx-text-fill: #186900;
    -fx-background-color: #edffe8;
    -fx-background-radius: 0.2em;
    -fx-padding: 0.25em 0.5em;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.message-danger {
    -fx-font-size: 0.7em;
    -fx-font-weight: lighter;
    -fx-text-fill: #ff3f21;
    -fx-background-color: #ffedeb;
    -fx-background-radius: 0.2em;
    -fx-padding: 0.25em 0.5em;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.suggestion {
    -fx-font-size: 0.5em;
    -fx-font-weight: lighter;
    -fx-background-color: #fffae6;
    -fx-text-fill: #d9b100;
    -fx-background-radius: 0.2em;
    -fx-padding: 0.15em 0.3em;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}