.panel-wrapper {
    -fx-font-family: Tahoma;
    -fx-font-size: 20;
}

.title {
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 1.75em;
    -fx-alignment: center;
}

.subtitle {
    -fx-font-size: 0.75em;
    -fx-pref-width: 35em;
}

.warning {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 15em;
    -fx-padding: 3em 2em;
    -fx-background-color: #fffae6;
    -fx-text-fill: #d9b100;
    -fx-font-size: 1em;
    -fx-background-radius: 0.2em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.dropdown-select {
    -fx-alignment: center;
    -fx-font-size: 0.75em;
}

.done-button {
    -fx-background-color: #4da3ff;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.done-button:hover {
    -fx-background-color: #3996e3;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.back-button {
    -fx-background-color: #6e6e6e;
    -fx-text-fill: white;
    -fx-font-size: 0.6em;
    -fx-pref-width: 4em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.back-button:hover {
    -fx-background-color: #636363;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.requirement-message {
    -fx-text-fill: #d9edff;
    -fx-font-size: 0.65em;
    -fx-background-color: #0078e8;
    -fx-background-radius: 0.2em;
    -fx-padding: 0.5em;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.message-success {
    -fx-font-size: 0.7em;
    -fx-font-weight: lighter;
    -fx-text-fill: #186900;
    -fx-background-color: #edffe8;
    -fx-background-radius: 0.2em;
    -fx-padding: 0.25em 0.5em;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.mini-button {
    -fx-column-halignment: right;
    -fx-background-color: #4da3ff;
    -fx-text-fill: white;
    -fx-font-size: 0.6em;
    -fx-pref-width: 3em;
    -fx-end-margin: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.mini-button:hover {
    -fx-background-color: #3996e3;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}